

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 50px;
}

header img {
	max-width: 75%;
}

.nav-bar {
	border-radius: 0;
}

.navbar-brand img {
	height: 50px;
	width: auto;
}

img {
	max-width: 300px;
	height: auto;
}













