

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Courgette', cursive;
}

.nav-bar {
	border-radius: 0;
}

img {
	max-height: 600px;
	width: auto;
	margin: auto;
}

#map-container {
	height: 180px; 
}










