

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 50px;
	background-image: url("wov.png");
	background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Courgette', cursive;
}

.nav-bar {
	border-radius: 0;
}

#carousel img {
	max-height: 600px;
	width: auto;
	margin: auto;
}

#mapid {
	height: 180px; 
}










